---
import ModalDialog from "./ModalDialog.astro";
const { frontmatter } = Astro.props;
const title = frontmatter.title.toUpperCase();
const githubIcon = await import("/assets/icons/github.svg?raw");
const externalIcon = await import("/assets/icons/open-external.svg?raw");
---

<div class="w-1/2 max-w-2xl max-md:self-start max-md:w-full max-md:order-2">
  <h3 class="text-3xl">{title}</h3>
  <div class="text-lg max-w-xl">{frontmatter.description}</div>
  <div class="mt-4"></div>
  <div class="flex flex-wrap gap-4">
    <ModalDialog id={frontmatter.slug} title={title}><slot /></ModalDialog>
    <a
      class="relative flex items-center h-12 w-fit py-1 px-8 max-sm:px-4 font-brandFont text-brandMain border-brandMain fill-brandMain border-2 text-2xl font-medium animate-bgSlideLeft hover:animate-bgSlideRight bg-no-repeat bg-x--10rem bg-gradient-to-r from-brandMain from-100% to-white to-200%"
      href={frontmatter.href}
      target="_blank"
      >Visit Page <svg
        viewBox="0 0 512 512"
        class="w-6 h-full stroke-none fill-inherit relative left-2"
        set:html={`
      <title>GitHub Link</title>
      ${externalIcon.default}
      `}
      /></a
    >
    <a
      class="flex items-center h-12 w-fit py-1 px-8 max-sm:px-4 font-brandFont text-brandMain border-brandMain fill-brandMain border-2 text-2xl font-medium animate-bgSlideLeft hover:animate-bgSlideRight bg-no-repeat bg-x--10rem bg-gradient-to-r from-brandMain from-100% to-white to-200%"
      href={frontmatter.github}
      target="_blank"
    >
      <!-- <img class="w-6 " src="/assets/icons/github.svg" alt="GitHub" /> -->
      <svg
        viewBox="0 0 24 24"
        class="w-6 h-full stroke-none fill-inherit"
        set:html={`
        <title>GitHub Link</title>
        ${githubIcon.default}
        `}
      />
    </a>
  </div>
  <div class="mt-8"></div>
  <div class="flex flex-wrap gap-4 max-w-lg">
    {
      !!frontmatter.stack &&
        frontmatter.stack.map((item) => (
          <span class="text-sm text-gray-600">{item}</span>
        ))
    }
  </div>
</div>
<a
  class="w-1/2 max-w-sm border-gray-400 border-1 hover:border-brandMain hover:border-2 max-md:w-full max-md:mt-6 max-md:self-start"
  href={frontmatter.href}
  target="_blank"
>
  <img src={frontmatter.thumbnail} alt={frontmatter.title} /></a
>