---
import Canvas3D from "../components/Canvas3D/Canvas3D.jsx";
import SubHBoxLeft from "../components/ui/SubHBoxLeft.astro";
const githubIcon = await import("/assets/icons/github.svg?raw");
const linkedinIcon = await import("/assets/icons/linkedin.svg?raw");
const contactEmailAddress = "connect.jessep@gmail.com";
---

<section
  id="CONNECT"
  class="relative flex justify-center items-center w-full min-h-132 h-halfScreen max-w-9xl"
>
  <Canvas3D
    cameraPosition={[2, -0.1, 2.4]}
    cameraRotation={[-0.1, 0.69, 0.16]}
    cameraFar={10}
    cameraFov={22}
    enableCharacter={false}
    enablePresentation={false}
    meshScale={0.2}
    client:visible
  />
  <div
    class="absolute w-10/12 max-xs:w-11/12 self-center max-sm:self-end max-sm:mb-10 min-h-56 max-w-lg bg-gradient-to-t from-violet-700 from-20% to-100% to-brandMain"
  >
    <SubHBoxLeft>Connect</SubHBoxLeft>
    <div
      class="flex flex-col m-0.75 relative p-6 pt-8 bg-white min-h-56 items-center justify-center self-center"
    >
      <div class="mt-8"></div>
      <p class="text-lg">
        To get in touch, you can contact me at this email 😊
      </p>
      <div class="mt-4"></div>
      <div
        title="Copy to clipboard"
        id="CONTACT-EMAIL"
        class="relative cursor-pointer"
      >
        <button
          class="text-lg max-xs:text-base text-brandMain flex items-center gap-3 w-fit hover:font-bold"
          id="COPY-EMAIL"
        >
          <span>{contactEmailAddress}</span>
          <img
            title="Copy to clipboard"
            alt="Copy to clipboard"
            class="w-6 h-fit select-none"
            src="/assets/icons/copy-to-clipboard.svg"
          /><span
            role="presentation"
            id="COPY-ANIMATION-TEXT"
            class="absolute -top-4 right-4 text-green-500 font-bold font-brandFont text-3xl block whitespace-nowrap opacity-0 select-none"
            >Copied to Clipboard!</span
          >
        </button>
      </div>
      <div class="mt-8"></div>
      <div class="flex justify-center flex-wrap gap-4 w-full">
        <a
          class="relative flex items-center h-12 w-fit py-1 px-8 max-sm:px-4 font-brandFont text-brandMain border-brandMain fill-brandMain border-2 text-2xl font-medium animate-bgSlideLeft hover:animate-bgSlideRight bg-no-repeat bg-x--10rem bg-gradient-to-r from-brandMain from-100% to-white to-200%"
          href="https://www.linkedin.com/in/jesse-pernil%C3%A4-52a9b8192/"
          target="_blank"
          >LinkedIn <svg
            viewBox="0 0 24 24"
            class="w-8 h-full stroke-none fill-inherit relative left-2"
            set:html={`
      <title>Linkedin Profile Link</title>
      ${linkedinIcon.default}
      `}
          /></a
        >
        <a
          class="relative flex items-center h-12 w-fit py-1 px-8 max-sm:px-4 font-brandFont text-brandMain border-brandMain fill-brandMain border-2 text-2xl font-medium animate-bgSlideLeft hover:animate-bgSlideRight bg-no-repeat bg-x--10rem bg-gradient-to-r from-brandMain from-100% to-white to-200%"
          href="https://github.com/jessejp"
          target="_blank"
          >GitHub <svg
            viewBox="0 0 24 24"
            class="w-6 h-full stroke-none fill-inherit relative left-2"
            set:html={`
  <title>GitHub Profile Link</title>
  ${githubIcon.default}
  `}
          /></a
        >
      </div>
    </div>
  </div>
</section>

<script define:vars={{ contactEmailAddress }}>
const copyEmail = document.getElementById("COPY-EMAIL");
const email = document.getElementById("CONTACT-EMAIL");
const copyAnimation = document.getElementById("COPY-ANIMATION-TEXT");
let animationRemoveTimeout = null;

copyEmail.addEventListener("click", () => {
  clearTimeout(animationRemoveTimeout);
  navigator.clipboard.writeText(contactEmailAddress);
  email.classList.add("animate-copied");
  copyAnimation.classList.add("animate-copiedFloatingText");

  animationRemoveTimeout = setTimeout(() => {
    email.classList.remove("animate-copied");
    copyAnimation.classList.remove("animate-copiedFloatingText");
  }, 800);
});
</script>
