---
import "../styles/main.css";
import type { MarkdownLayoutProps } from "astro";
import Nav from "../sections/Nav.astro";

type Props = Partial<MarkdownLayoutProps<{ title: string }>> & {
  title?: string;
};

const githubIcon = await import("/assets/icons/github.svg?raw");
const { title, frontmatter, url } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Jesse Pernilä - Frontend Developer Portfolio. Exploring web development with creativity and a passion for user experiences."
    />
    <title>{title}</title>
  </head>
  <body class="flex w-full flex-col items-center">
    {
      !!frontmatter && (
        <>
          <Nav currentPath={url} />
          <main class="prose flex w-11/12 max-w-6xl flex-col prose-headings:font-brandFont prose-h1:text-5xl prose-h2:my-4 prose-h2:text-4xl prose-h3:text-3xl prose-a:text-link">
            <article>
              <h1 class="my-4 leading-none">{frontmatter.title}</h1>
              <slot />
            </article>
          </main>
        </>
      )
    }
    {!frontmatter && <slot />}
    <footer
      class="flex h-36 w-full items-center justify-center gap-6 text-center text-base max-sm:mt-20 max-sm:flex-col"
    >
      <p class="max-sm:w-11/12">
        Built with <a
          class="accessible"
          href="https://astro.build/"
          target="_blank">Astro</a
        > and <a
          class="accessible"
          href="https://tailwindcss.com/"
          target="_blank">Tailwind CSS</a
        >, deployed with <a
          class="accessible"
          href="https://vercel.com/"
          target="_blank">Vercel</a
        >
      </p>
      <div class="block max-sm:hidden">|</div>
      <div class="flex items-center gap-1">
        <svg
          viewBox="0 0 24 24"
          class="mr-1 h-full w-5 fill-inherit stroke-none"
          set:html={`
    <title>GitHub</title>
    ${githubIcon.default}
    `}
        /> jessejp /<a
          class="accessible"
          href="https://github.com/jessejp/portfolio"
          target="_blank">portfolio</a
        >
      </div>
    </footer>
  </body>
</html>
